.main-contents.CONTACT {
    background: #eee;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.CONTACT>.contents-header {
    background-image: url(https://gfi.ssu.ac.kr/cmm/fms/getImage.do?atchFileId=FILE_000000000001488&fileSn=0);
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    color: #fff;

    width: 100%;
    height: 1000px;

    align-content: center;
    text-align: center;

    position: relative;
}

.CONTACT>.contents-header>.contents-title {
    font-family: Georgia,
        'Times New Roman',
        Times,
        serif;
    font-size: 450%;
    text-shadow: 0 0 3px #000;

    letter-spacing: 0.1em;
    line-height: 1.5em;
    
    margin: 0.5em;
}

.CONTACT>.contents-header>.contents-subtitle-1 {
    font-size: 2em;
    letter-spacing: 0.7em;
    text-shadow: 0 0 3px #000;

}

.CONTACT>.contents-header>.contents-subtitle-2 {
    font-size: 2em;
    letter-spacing: 0.7em;
    text-shadow: 0 0 3px #000;

}

.CONTACT .contents-section-1 {
    background-color: #eee;
    align-content: center;
}

.CONTACT .contents-section-1 > h1 {
    text-align: center;
    font-size: 3em;
    padding: 2em;
}

.contact-wrap {
    display: flex;

    margin: auto;
    margin-bottom: 3em;
    max-width: 80em;

    border: 1px solid #000;
    border-radius: 2em;
}

.contact-contents {
    flex: 1;

    margin: 2em;
    height: 350px;
    align-content: center;

    background-color: #fff;
    border: 1px solid #000;
    border-radius: 2em;

    transition: 1s;
}

.contact-contents:hover {
    flex-grow: 2;
}

.contact-contents > h1 {
    margin: 0.5em;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
    text-align: center;
    transition: 1s;
}

.contact-contents:hover > h1 {
    font-size: 2em;
}

.contact-contents > p {
    margin: 0.5em;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1em;
    text-align: center;
    transition: 1s;
}

.contact-contents:hover > p {
    font-size: 1.25em;
}

.contact-contents a {
    display: inline-block;
    margin: 1em;

    font-size: 1em;
    text-align: center;
    align-content: center;

    width: 8em;
    aspect-ratio: 8/2;

    color: #eee;
    background-color: #000;
    border-radius: 2em;
    transition: 1s;
}

.contact-contents:hover > a {
    font-size: 1.25em;
}