.main-contents.HOME {
    background: #222;
    height: 3800px;
}

.HOME>.contents-header {
    background-image: url(../src/images/bg_.png);
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    color: #fff;

    width: 100%;
    height: 1200px;

    align-content: center;
    text-align: center;

    position: relative;
}

.HOME .contents-title {
    
    font-size: 3.5em;
    margin: 0.5em;

    position: relative;
    top: -50px;

    text-shadow: 0 0 3px #000;
}

.HOME .contents-subtitle {
    font-size: 1.5em;
    letter-spacing: 0.2em;
    line-height: 2em;
    text-shadow: 0 0 3px #000;
    
    position: relative;
    top: -50px;
}

.HOME>.contents-section-1 {
    background-image: url(../src/images/bg_a.png);
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    color: #fff;

    width: 100%;
    height: 1300px;

    align-content: center;
    text-align: center;

    position: relative;
}

.HOME>.contents-section-1>.link-button {
    margin: auto;
    width: 11rem;
    height: 3.5rem;

    border: 2px solid #fff;
    border-radius: 5rem;

    background: #00000088;

    align-content: center;
    text-align: center;

    cursor: pointer;
}

.HOME>.contents-section-1>.link-button>.link-text {
    margin: auto;
    display: inline-block;

    text-align: center;
}

.HOME>.contents-section-1>.link-button>.link-icon {
    display: inline-block;

    align-content: center;
    text-align: center;

    width: 2.3em;
    height: 2.3em;

    background: #fff;
    color: #000;
    border-radius: 2.3em;
}

.HOME>.contents-section-2 {
    background-image: url(../src/images/bg_b.png);
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    color: #fff;

    width: 100%;
    height: 1300px;

    align-content: center;
    text-align: center;

    position: relative;
}


.HOME>.contents-section-2>.link-button {
    margin: auto;
    width: 9rem;
    height: 3.5rem;

    border: 2px solid #fff;
    border-radius: 5rem;

    background: #00000088;

    align-content: center;
    text-align: center;

    cursor: pointer;
}

.HOME>.contents-section-2>.link-button>.link-text {
    margin: auto;
    display: inline-block;

    text-align: center;
}

.HOME>.contents-section-2>.link-button>.link-icon {
    display: inline-block;

    align-content: center;
    text-align: center;

    width: 2.3em;
    height: 2.3em;

    background: #fff;
    color: #000;
    border-radius: 2.3em;
}
