.main-contents.HOME {
    background: #222;
}

.HOME>.contents-header {
    background-image: url(../src/images/bg.png);
    background-size: cover;
    color: #eee;

    width: 100%;
    height: 1000px;

    align-content: center;
    text-align: center;

    position: relative;
}

.HOME>.contents-header>.contents-title {
    font-size: 3.5em;
    margin: 0.5em;

    text-shadow: 0 0 3px #aff;
}

.HOME>.contents-header>.contents-subtitle {
    font-size: 1.5em;
    letter-spacing: 0.2em;
    line-height: 2em;
    text-shadow: 0 0 5px #fff;
}