.main-contents.INTRODUCE {
    background: #222;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.INTRODUCE>.contents-header {
    background-image: url(../src/images/bg_c.png);
    background-size: cover;
    background-position-x: left;
    background-position-y: bottom;
    color: #fff;

    width: 100%;
    height: 110em;

    align-content: center;
    text-align: center;

    position: relative;
}

.INTRODUCE>.contents-header>.contents-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.3em;
    text-shadow: 0 0 3px #000;

    letter-spacing: 0.1em;
    line-height: 1.5em;
    text-align: center;
    margin: 0.5em;
}

.INTRODUCE>.contents-header>.contents-subtitle-1 {
    font-size: 2em;
    letter-spacing: 0.5em;
    text-shadow: 0 0 3px #000;
}
.INTRODUCE>.contents-header>.contents-subtitle-2 {
    font-size: 2em;
    letter-spacing: 0.5em;
    text-shadow: 0 0 3px #000;
}

.INTRO-section-1 {
    padding: 1em;

    background-color: #eee;
    color: #fff;

    align-content: center;

    width: 100%;
    
    position: relative;
}

.INTRO-section-1 > h1 {
    padding: 0.5em;

    text-align: center;
    font-size: 3em;
    color: #000;
}

.INTRO-section-1 > p {
    margin: auto;
    padding: 0.5em;

    text-align: center;
    font-size: 1.5em;
    line-height: 2em;
    color: #000;

    max-width: 40em;
}

.INTRO-departments {
    display: flexbox;
    margin: auto;
    margin-top: 3em;
    align-content: center;

    height: auto;

    color: #000;

    width: 50em;
}

.department-content {
    flex: 1;

    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    align-content: center;

    transition: 1s;
    width: 20em;
    height: 3em;

    font-size: 1.5em;
    text-align: center;

    overflow: hidden;

    border: 1px solid #000;
    border-radius: 1.5em;
}

.department-content:hover {
    flex-grow: 15;
    height: 12em;
}
.INTRO-departments:hover .department-content {
    width: 100%;
}

.department-content h1 {
    margin-top: 5px;
}

.department-content p {
    opacity: 0;

    padding: 0.5em;

    line-height: 2em;
    font-size: 0.8em;

    transition: 1s;
}

.department-content:hover p {
    opacity: 1;
}

.INTRO-contents {
    display: flexbox;
    margin: auto;
    margin-top: 3em;
    padding-bottom: 10em;

    align-content: center;

    height: auto;

    color: #000;

    width: 50em;
}

.INTRO-main-content {
    flex: 1;

    margin: auto;
    margin-bottom: 1em;
    align-content: center;
    padding: 1em;

    transition: 1s;
    width: 20em;
    height: 3em;

    font-size: 1.5em;
    text-align: center;

    overflow: hidden;

    border: 1px solid #000;
    border-radius: 1.5em;
}

.INTRO-main-content:hover {
    flex-grow: 15;
    height: 24em;
}
.INTRO-main-content:hover:last-child {
    flex-grow: 15;
    height: 45em;
}

.INTRO-contents:hover .INTRO-main-content {
    width: 100%;
}

.INTRO-main-content h1 {
    margin-top: -7px;
}

table.curriculum {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0.5em 0.25em;
    font-family: sans-serif;
    text-align: center;
    margin: 1em 0;
}

.term {
    background-color: #026;
    color: white;
    padding: 8px;
    font-weight: bold;
    border-radius: 20px;
}

.circle-box {
    border: 2px solid #026;
    border-radius: 3.5em;
    width: 7em;
    height: 14em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.circle-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.66em;
}

.circle-box li {
    margin: 2px 0;
}

.multi-only {
    color: #47b;
    font-weight: bold;
}

.game-only {
    color: #4aa;
    font-weight: bold;
}

table.license {
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
    margin: 20px 0;
    text-align: center;
}

table.license tr {
    height: 3.5em;
}

table.license tr:first-child {
    background-color: #ddd;
}

table.license tr:first-child, tr:last-child {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

table.license th, table.license td {
    width: 3em;
    border: 1px solid #000;
    padding: 10px;
}

table.license .no-left {
    border-left: 0px solid #000;
}

table.license .no-right {
    border-right: 0px solid #000;
}