.main-contents.INTRODUCE {
    background: #222;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.INTRODUCE>.contents-header {
    background-image: url(../src/images/bg_c.png);
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    color: #fff;

    width: 100%;
    height: 1000px;

    align-content: center;
    text-align: center;

    position: relative;
}

.INTRODUCE>.contents-header>.contents-title {
    font-family: Georgia,
        'Times New Roman',
        Times,
        serif;
    font-size: 500%;
    text-shadow: 0 0 3px #000;

    letter-spacing: 0.1em;
    line-height: 1.5em;
    
    margin: 0.5em;
}

.INTRODUCE>.contents-header>.contents-subtitle-1 {
    font-size: 2em;
    letter-spacing: 0.5em;
    text-shadow: 0 0 3px #000;

    translate: -7em 0em;
}
.INTRODUCE>.contents-header>.contents-subtitle-2 {
    font-size: 2em;
    letter-spacing: 0.5em;
    text-shadow: 0 0 3px #000;
    
    translate: 5.5em 0em;
}

.INTRODUCE>.contents-section-1 {
    background-color: #eee;
    color: #fff;

    width: 100%;
    height: 3000px;
    position: relative;
}

.INTRODUCE .department {
    background-color: #eee;

    margin: auto;

    width: 90%;
    max-width: 90em;
    height: 1000px;

    overflow: hidden;

    position: relative;
}

.INTRODUCE .department-wrap {
    width: 300%;
    height: 100%;
    display: flex;
    background-color: #eee;
    transition: 1s;
}

.INTRODUCE .department-scroll {
    flex: 1;

    align-content: center;
    text-align: center;

    display: inline-block;

    background-color: #eee;
    color: #000;

    width: 100%;
    box-sizing: border-box;
}

.INTRODUCE .department-scroll>h1 {
    font-family: Georgia,
            'Times New Roman',
            Times,
            serif;
    font-size: 3em;
    margin: auto;
    margin-top: 2em;
}

.INTRODUCE .department-scroll>p {
    letter-spacing: 0.15em;
    line-height: 2em;
    font-size: 1.5em;
    margin: 1.5em;
}

.INTRODUCE .department-menu {
    display: flex;

    position: relative;
    left: 35%;

    width: 30%;
    height: 150px;
}

.INTRODUCE .department-submenu {
    z-index: 2;

    flex: 1;

    
    color: #000;
    font-size: 1.7em;
    font-weight: bold;
    text-align: center;
    align-content: center;

    position: relative;
    height: 80px;
    top: 35px;

    transition: 1s;

    cursor: pointer;
}

.INTRODUCE .department-submenu::after {
    z-index: 2;
    content: '';

    position: absolute;
    top: 70px;
    left: 5%;

    width: 105%;
    height: 5px;

    background-color: #ddd;
    border-radius: 5px;

    transition: 1s;
}

.INTRODUCE .department-submenu:hover::after {
    z-index: 3;
    background-color: #999;
}

.INTRODUCE .department-submenu.active::after {
    z-index: 4;
    background-color: #444;
}


/* 

@-- 테이블 1 -- @

*/

.INTRODUCE table.multi-curriculum {
    width: 90%;
    left: 5%;
    position: relative;
}

.INTRODUCE table.multi-curriculum b {
    color: #cc5;
}

.INTRODUCE table.multi-curriculum .table-header {
    height: 3em;
}

.INTRODUCE table.multi-curriculum .table-header .w10 {
    height: 3em;
    width: 12em;
}

.INTRODUCE table.multi-curriculum .table-header th {
    width: 102em;
    border-radius: 3em;
    background-color: #aa3;
    color: #eee;
}

.INTRODUCE table.multi-curriculum .table-gap {
    height: 2em;
}

.INTRODUCE table.multi-curriculum .table-body {
    height: 12em;
}

.INTRODUCE table.multi-curriculum .table-body .title {
    color: #000;
    border: 3px solid #cc5;
}

.INTRODUCE table.multi-curriculum .table-body th {
    width: 12em;

    font-size: 0.8em;

    border-radius: 10em;
    border: 1px solid #000;
}
.INTRODUCE table.multi-curriculum .table-body td {
    width: 1.5em;
    font-size: 1.5em;
}
.INTRODUCE table.multi-curriculum .table-footer th {
    height: 3em;
    border-radius: 3em;
    border: 1px solid #000;
}

/* 

@-- 테이블 2 -- @

*/

.INTRODUCE table.both-curriculum b {
    color: #cc5;
}

.INTRODUCE table.both-curriculum strong {
    color: #3aa;
}

.INTRODUCE table.both-curriculum {
    width: 90%;
    left: 5%;
    position: relative;
}

.INTRODUCE table.both-curriculum .table-header {
    height: 3em;
}

.INTRODUCE table.both-curriculum .table-header .w10 {
    height: 3em;
    width: 12em;
}

.INTRODUCE table.both-curriculum .table-header th {
    width: 102em;
    border-radius: 3em;
    background-color: #313;
    color: #eee;
}

.INTRODUCE table.both-curriculum .table-gap {
    height: 2em;
}

.INTRODUCE table.both-curriculum .table-body {
    height: 12em;
}

.INTRODUCE table.both-curriculum .table-body .title {
    color: #000;
    border: 3px solid #313;
}

.INTRODUCE table.both-curriculum .table-body th {
    width: 12em;

    font-size: 0.8em;

    border-radius: 10em;
    border: 1px solid #000;
}
.INTRODUCE table.both-curriculum .table-body td {
    width: 1.5em;
    font-size: 1.5em;
}
.INTRODUCE table.both-curriculum .table-footer th {
    height: 3em;
    border-radius: 3em;
    border: 1px solid #000;
}

/* 

@-- 테이블 3 --@ 

*/

.INTRODUCE table.game-curriculum {
    width: 90%;
    left: 5%;
    position: relative;
}

.INTRODUCE table.game-curriculum b {
    color: #3aa;
}

.INTRODUCE table.game-curriculum .table-header {
    height: 3em;
}

.INTRODUCE table.game-curriculum .table-header .w10 {
    height: 3em;
    width: 12em;
}

.INTRODUCE table.game-curriculum .table-header th {
    width: 102em;
    border-radius: 3em;
    background-color: #399;
    color: #eee;
}

.INTRODUCE table.game-curriculum .table-gap {
    height: 2em;
}

.INTRODUCE table.game-curriculum .table-body {
    height: 12em;
}

.INTRODUCE table.game-curriculum .table-body .title {
    color: #000;
    border: 3px solid #3aa;
}

.INTRODUCE table.game-curriculum .table-body th {
    width: 12em;

    font-size: 0.8em;

    border-radius: 10em;
    border: 1px solid #000;
}
.INTRODUCE table.game-curriculum .table-body td {
    width: 1.5em;
    font-size: 1.5em;
}
.INTRODUCE table.game-curriculum .table-footer th {
    height: 3em;
    border-radius: 3em;
    border: 1px solid #000;
}



.INTRODUCE .license {
    width: 100%;
    height: 850px;

    text-align: center;

    background-color: #eee;
    color: #000;
}

.INTRODUCE .license>h1 {
    color: #000;

    top: 2em;
    position: relative;

    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.INTRODUCE .license table {
    position: relative;
    margin: auto;

    top: 8em;
    width: 60em;

    border-spacing: 0px;

    border-top: 3px solid #000;
    border-bottom: 3px solid #000;

    text-align: center;
    font-size: 1.2em;

}

.INTRODUCE .license table th {
    margin: 0px;
    padding: 1em;
}

.INTRODUCE .license table td {
    margin: 0px;
    padding: 1em;
}

.INTRODUCE .license table td.border-bottom {
    border-bottom: 3px solid #aaa;
}
.INTRODUCE .license table td.border-right {
    border-right: 3px solid #aaa;
}

.INTRODUCE .license table th.border-right {
    border-right: 3px solid #000;
}
.INTRODUCE .license table th.border-bottom {
    border-bottom: 3px solid #000;
}

.INTRODUCE .career {
    width: 100%;
    height: 600px;

    text-align: center;

    background-color: #eee;
    color: #000;
}

.INTRODUCE .career>h1 {
    color: #000;

    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.INTRODUCE .career>h2 {
    color: #000;

    margin: 1em;

    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.2em
}

.INTRODUCE .career>p {
    color: #000;

    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.2em;
    line-height: 2em;
}