* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

.container {
    position: relative;
    min-width: 1300px;
    margin: auto;

}

.header {

    background-image: linear-gradient(0deg, #00000000 20%, #000000ff 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    height: 100px;
    width: 100%;

    z-index: 10;
}

.menu {
    align-content: center;
    color: white;
    font-weight: bold;
}

.submenu {
    position: relative;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;

    align-content: center;

    display: inline-block;
    margin: 0 20px;
    padding: 7px;

    cursor: pointer;
}

.submenu::after {
    content: '';

    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);

    width: 0%;
    height: 20px;

    border-radius: 5px;

    opacity: 0;

    transition: 0.3s;
}

.submenu:hover::after {
    z-index: 1;
    background-color: #22c3c9;

    width: 100%;
    opacity: 30%;
}

.submenu.active::after {
    background-color: #3cc13b;
    width: 100%;
    opacity: 30%
}

.logo {

    margin: 10px 20px;

    color: #eee;
    font-size: 30px;
}

.ssu-logo {
    aspect-ratio: 3/2;
    height: 80px;
}

.ssugli-logo {
    aspect-ratio: 2/2;
    height: 80px;
}

.multi-game-logo {
    aspect-ratio: 5/2;
    height: 80px;

}

main {
    z-index: 0;

    position: relative;

    overflow: hidden;
    width: 100%;

    background: #222;
}

.main-wrap {
    display: flex;
    width: 100%;
}

.main-contents {
    flex: 1 0 100%;

    justify-content: top;
    align-items: top;
    align-content: top;

    transition: 1s;
}

.main-contents.hidden {
    display: none;
}