.main-contents.WORKS {
    background: #222;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.WORKS>.contents-header {
    background-image: url(../src/images/bg_d.png);
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    color: #fff;

    width: 100%;
    height: 1000px;

    align-content: center;
    text-align: center;

    position: relative;
}

.WORKS>.contents-header>.contents-title {
    font-family: Georgia,
        'Times New Roman',
        Times,
        serif;
    font-size: 450%;
    text-shadow: 0 0 3px #000;

    letter-spacing: 0.1em;
    line-height: 1.5em;
    
    margin: 0.5em;
}

.WORKS>.contents-header>.contents-subtitle-1 {
    font-size: 2em;
    letter-spacing: 0.7em;
    text-shadow: 0 0 3px #000;

}

.WORKS>.contents-header>.contents-subtitle-2 {
    font-size: 2em;
    letter-spacing: 0.7em;
    text-shadow: 0 0 3px #000;

}