.main-contents.WORKS {
    background: #222;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.WORKS>.contents-header {
    background-image: url(../src/images/bg_d.png);
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    color: #fff;

    width: 100%;
    height: 1000px;

    align-content: center;
    text-align: center;

    position: relative;
}

.WORKS>.contents-header>.contents-title {
    font-family: Georgia,
        'Times New Roman',
        Times,
        serif;
    font-size: 450%;
    text-shadow: 0 0 3px #000;

    letter-spacing: 0.1em;
    line-height: 1.5em;
    
    margin: 0.5em;
}

.WORKS>.contents-header>.contents-subtitle-1 {
    font-size: 2em;
    letter-spacing: 0.7em;
    text-shadow: 0 0 3px #000;

}

.WORKS>.contents-header>.contents-subtitle-2 {
    font-size: 2em;
    letter-spacing: 0.7em;
    text-shadow: 0 0 3px #000;

}

.WORKS .contents-section-1 {
    background-color: #eee;

    width: 100%;
    min-height: 500px;
}
.WORKS .contents-section-1 > h1 {
    text-align: center;
    font-size: 3em;
    padding: 2em;
}



/* -- gallery -- */

.WORKS .contents-section-1 .gallery {
    padding: 2rem;
    background: #eee;
    font-family: "Do Hyeon", sans-serif;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.WORKS .contents-section-1 .year-container {
    margin: auto;
    max-width: 100em;
    height: auto;
    overflow: hidden;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    padding: 1.5rem 2rem;
    transition: 1s;
}

.WORKS .contents-section-1 .year-container.active {
    height: auto;
    transition: 1s;
}

.WORKS .contents-section-1 .year-container h2 {
    text-align: center;
    font-size: 2.7em;
    padding-bottom: 0.3rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.WORKS .contents-section-1 .year-container:nth-child(2n-1) h2 {
    color: #4cc;
    border-bottom: 2px solid #4cc;
}

.WORKS .contents-section-1 .year-container:nth-child(2n) h2 {
    color: #66f;
    border-bottom: 2px solid #66f;
}

.WORKS .contents-section-1 .lecture-wrap {
    height: 3.8em;
    overflow: hidden;
    grid-template-columns: auto;
    margin-bottom: 2rem;
    padding: 0.5em;
    background: #333;
    border-radius: 10px;
    transition: 1s;
}

.WORKS .contents-section-1 .lecture-wrap.active {
    max-height: fit-content;
}

.WORKS .contents-section-1 .lecture-wrap h3 {
    text-align: center;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 0.8rem;
    cursor: pointer;
}

.WORKS .contents-section-1 .lecture-contents {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: flex-start;
    transition: 1s;
}


.WORKS .contents-section-1 .content-box {
    margin: auto;
    padding: 1rem;

    width: 45%;
    aspect-ratio: 2 / 2.5;

    border-radius: 8px;
    background: #bdd;


    transition: 1s;

    z-index: 5;

    cursor: pointer;
}

.WORKS .contents-section-1 .content-box a {
    display: block;

    color: #333;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    font-weight: bold;

    transition: 0.4s;
}

.WORKS .contents-section-1 .content-box a:hover {
    color: #a6a;
}

.WORKS .contents-section-1 .content-box.active {
    width: 95%;
    height: 1000px;
    transform: none;
}

.WORKS .contents-section-1 .content-box p {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.WORKS .contents-section-1 .item-frame {
    width: 100%;
    height: 100%;
    min-height: 500px;
    border: none;
}