body {
    background-color: #dddddd;
}

.cat {
    width: 400px;
    height: 0px;
    background-color: #434343;

    top: 50%;
    left: 50%;
    translate: -200px -140px;
    position: absolute;

    scale: 0.8;

}

.head_0 {
    z-index: 1;
    width: 300px;
    height: 150px;
    
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    
    border: 20px solid #434343;
    border-bottom: none;
    border-top-width: 15px;

    scale: 1 1.25;

    background-color: #000000;


    position: absolute;
    top: 50px;
    left: 30px;

}

.head_1 {
    z-index: 1;
    width: 300px;
    height: 150px;

    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;

    border: 20px solid #434343;
    border-top: none;
    border-bottom-width: 26px;

    scale: 1 0.75;

    background-color: #000000;


    position: absolute;
    top: 200px;
    left: 30px;

}
.head_2 {
    z-index: 1;
    width: 300px;
    height: 10px;


    border: 20px solid #434343;
    border-top: none;
    border-bottom: none;


    background-color: #000000;


    position: absolute;
    top: 221px;
    left: 30px;

}

.ear_left_0 {
    z-index: 0;

    width: 250px;
    height: 125px;

    border-radius: 25px 150px 0 150px;
    border: 20px solid #434343;


    background-color: #000000;

    top: 40px;
    left: -10px;

    rotate: -20deg;
    transition-duration: 0.3s;

    position: absolute;
}

.cat:hover .ear_left_0 {
    z-index: 0;

    width: 250px;
    height: 125px;

    border-radius: 25px 150px 0 150px;
    border: 20px solid #434343;


    background-color: #000000;

    top: 40px;
    left: -15px;

    rotate: 60deg;
    transition-duration: 0.3s;

    position: absolute;
}

.ear_right_0 {
    z-index: 0;

    width: 250px;
    height: 125px;

    border-radius: 150px 25px 150px 0;
    border: 20px solid #434343;


    background-color: #000000;

    top: 40px;
    right: -10px;

    rotate: 20deg;
    transition-duration: 0.3s;

    position: absolute;
}

.cat:hover .ear_right_0 {
    z-index: 0;

    width: 250px;
    height: 125px;

    border-radius: 150px 25px 150px 0;
    border: 20px solid #434343;


    background-color: #000000;

    top: 40px;
    right: -15px;

    rotate: -60deg;
    transition-duration: 0.3s;

    position: absolute;
}


.eye_left_0 {
    z-index: 2;

    width: 70px;
    height: 35px;

    border-radius: 30px 30px 100px 100px;
    border: 15px solid #000000;


    background-color: #96f3ff;

    top: 175px;
    left: 75px;

    rotate: 5deg;

    transition-duration: 0.3s;

    position: absolute;

}

.cat:hover .eye_left_0 {
    z-index: 2;

    width: 70px;
    height: 70px;

    border-radius: 100px 100px 100px 100px;
    border: 15px solid #000000;


    background-color: #96f3ff;

    top: 140px;
    left: 75px;

    rotate: 5deg;
    
    transition-duration: 0.3s;

    position: absolute;

}

.eye_left_1 {
    z-index: 2;

    width: 50px;
    height: 30px;

    border-radius: 0 0 100px 100px;



    background-color: #000000;

    top: 185px;
    left: 105px;

    rotate: 0deg;

    transition-duration: 0.3s;

    position: absolute;

}

.cat:hover .eye_left_1 {
    z-index: 2;

    width: 40px;
    height: 40px;

    border-radius: 0 100px 0 100px;



    background-color: #000000;

    top: 170px;
    left: 110px;

    rotate: 45deg;

    transition-duration: 0.3s;

    position: absolute;

}

.eye_right_0 {
    z-index: 2;

    width: 70px;
    height: 35px;

    border-radius: 30px 30px 100px 100px;
    border: 15px solid #000000;


    background-color: #fff789;

    top: 175px;
    right: 75px;

    rotate: -5deg;

    transition-duration: 0.3s;

    position: absolute;

}

.cat:hover .eye_right_0 {
    z-index: 2;

    width: 70px;
    height: 70px;

    border-radius: 100px 100px 100px 100px;
    border: 15px solid #000000;


    background-color: #fff789;

    top: 140px;
    right: 75px;

    rotate: -5deg;

    transition-duration: 0.3s;

    position: absolute;

}

.eye_right_1 {
    z-index: 2;

    width: 50px;
    height: 30px;

    border-radius: 0 0 100px 100px;



    background-color: #000000;

    top: 185px;
    right: 105px;

    rotate: 0deg;

    transition-duration: 0.3s;

    position: absolute;

}

.cat:hover .eye_right_1 {
    z-index: 2;

    width: 40px;
    height: 40px;

    border-radius: 100px 0 100px 0;



    background-color: #000000;

    top: 170px;
    right: 110px;

    rotate: -45deg;

    transition-duration: 0.3s;

    position: absolute;

}

.nose_0 {
    z-index: 2;

    width: 30px;
    height: 30px;
    border-radius: 0% 50% 100% 50%;
    background-color: #434343;
    border-top: none;
    border-left: none;
    border-right: none;

    rotate: -135deg;

    position: absolute;
    top: 240px;
    left: 185px;
    transition-duration: 0.3s;
}

.mouse_0 {
    z-index: 2;

    width: 15px;
    height: 30px;
    border-radius: 10px ;
    background-color: #434343;

    position: absolute;
    top: 255px;
    left: 192.5px;
    transition-duration: 0.3s;
}

.mouse_1 {
    z-index: 2;

    width: 15px;
    height: 30px;
    border-radius: 10px;
    background-color: #434343;

    rotate: 45deg;

    position: absolute;
    top: 270px;
    left: 185px;
    transition-duration: 0.3s;
}

.mouse_2 {
    z-index: 2;

    width: 15px;
    height: 30px;
    border-radius: 10px;
    background-color: #434343;

    rotate: -45deg;

    position: absolute;
    top: 270px;
    right: 185px;
    transition-duration: 0.3s;
}

.cat:hover .nose_0 {
    z-index: 2;

    width: 30px;
    height: 30px;
    border-radius: 0% 50% 100% 50%;
    background-color: #434343;
    border-top: none;
    border-left: none;
    border-right: none;

    rotate: -135deg;

    position: absolute;
    top: 245px;
    left: 185px;
    transition-duration: 0.3s;
}

.cat:hover .mouse_0 {
    z-index: 2;

    width: 15px;
    height: 30px;
    border-radius: 10px;
    background-color: #434343;

    position: absolute;
    top: 260px;
    left: 192.5px;
    transition-duration: 0.3s;
}

.cat:hover .mouse_1 {
    z-index: 2;

    width: 15px;
    height: 30px;
    border-radius: 10px;
    background-color: #434343;

    rotate: 45deg;

    position: absolute;
    top: 275px;
    left: 185px;
    transition-duration: 0.3s;
}

.cat:hover .mouse_2 {
    z-index: 2;

    width: 15px;
    height: 30px;
    border-radius: 10px;
    background-color: #434343;

    rotate: -45deg;

    position: absolute;
    top: 275px;
    right: 185px;
    transition-duration: 0.3s;
}

.whisker_left_0 {
    z-index: 3;
    width: 80px;
    height: 20px;
    border-radius: 10px;
    background-color: #686868;

    rotate: 5deg;
    transition-duration: 0.3s;

    position: absolute;
    top: 215px;
    left: -5px;
}

.whisker_left_1 {
    z-index: 3;
    width: 70px;
    height: 20px;
    border-radius: 10px;
    background-color: #686868;

    rotate: -5deg;
    transition-duration: 0.3s;

    position: absolute;
    top: 245px;
    left: 5px;
}

.cat:hover .whisker_left_0 {
    z-index: 3;
    width: 90px;
    height: 20px;
    border-radius: 10px;
    background-color: #686868;

    rotate: 5deg;
    transition-duration: 0.3s;

    position: absolute;
    top: 215px;
    left: -15px;
}

.cat:hover .whisker_left_1 {
    z-index: 3;
    width: 80px;
    height: 20px;
    border-radius: 10px;
    background-color: #686868;

    rotate: -5deg;
    transition-duration: 0.3s;

    position: absolute;
    top: 245px;
    left: -5px;
}

.whisker_right_0 {
    z-index: 3;
    width: 80px;
    height: 20px;
    border-radius: 10px;
    background-color: #686868;

    rotate: -5deg;
    transition-duration: 0.3s;

    position: absolute;
    top: 215px;
    right: -5px;
}

.whisker_right_1 {
    z-index: 3;
    width: 70px;
    height: 20px;
    border-radius: 10px;
    background-color: #686868;

    rotate: 5deg;
    transition-duration: 0.3s;

    position: absolute;
    top: 245px;
    right: 5px;
}

.cat:hover .whisker_right_0 {
    z-index: 3;
    width: 90px;
    height: 20px;
    border-radius: 10px;
    background-color: #686868;

    rotate: -5deg;
    transition-duration: 0.3s;

    position: absolute;
    top: 215px;
    right: -15px;
}

.cat:hover .whisker_right_1 {
    z-index: 3;
    width: 80px;
    height: 20px;
    border-radius: 10px;
    background-color: #686868;

    rotate: 5deg;
    transition-duration: 0.3s;

    position: absolute;
    top: 245px;
    right: -5px;
}