body {
    background-color: #fff2d9;
}

.dog {
    width: 400px;
    height: 0px;
    border-radius: 50%;
    background-color: #434343;
    
    top: 50%;
    left: 50%;
    translate: -200px -150px;
    position: absolute;
    
}
.z_0 {
    z-index: 0;
}.z_1 {
    z-index: 1;
}.z_2 {
    z-index: 2;
}.z_3 {
    z-index: 3;
}.z_4 {
    z-index: 4;
}

.head_0 {
    width: 200px;
    height: 150px;
    border-radius: 50%;
    background-color: #fff2d9;

    position: absolute;
    top: 50px;
    left: 100px;
}

.head_1 {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #fff2d9;

    position: absolute;
    top: 135px;
    left: 70px;
}

.head_2 {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #fff2d9;

    position: absolute;
    top: 135px;
    left: 200px;
}

.head_3 {
    width: 150px;
    height: 70px;
    border-radius: 40%;
    background-color: #fff2d9;

    rotate: -71deg;

    position: absolute;
    top: 114px;
    left: 49px;
}

.head_4 {
    width: 150px;
    height: 70px;
    border-radius: 40%;
    background-color: #fff2d9;

    rotate: 71deg;

    position: absolute;
    top: 114px;
    left: 201px;
}

.head_5 {
    width: 200px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff2d9;

    position: absolute;
    top: 223px;
    left: 100px;
}

.head_6 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #fff2d9;

    position: absolute;
    top: 50px;
    left: 100px;
}

.head_edge_0 {
    width: 200px;
    height: 150px;
    border-radius: 50%;
    background-color: #553a28;

    position: absolute;
    top: 50px;
    left: 100px;

    scale: 1.2;
}

.head_edge_1 {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #553a28;

    position: absolute;
    top: 135px;
    left: 70px;
    
    scale: 1.26;
}

.head_edge_2 {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #553a28;

    position: absolute;
    top: 135px;
    left: 200px;

    scale: 1.26;
}

.head_edge_3 {
    width: 150px;
    height: 70px;
    border-radius: 40%;
    background-color: #553a28;

    rotate: -71deg;

    position: absolute;
    top: 119px;
    left: 45px;

    scale: 1.4;
}

.head_edge_4 {
    width: 150px;
    height: 70px;
    border-radius: 40%;
    background-color: #553a28;

    rotate: 71deg;

    position: absolute;
    top: 119px;
    left: 205px;

    scale: 1.4;
}

.head_edge_5 {
    width: 160px;
    height: 50px;
    border-radius: 50%;
    background-color: #553a28;

    position: absolute;
    top: 223px;
    left: 120px;
    
    scale: 1.6;
}

.ear_0 {
    width: 170px;
    height: 110px;
    border-radius: 50%;
    background-color: #c77f49;


    position: absolute;
    top: 80px;
    left: -20px;

    rotate: -50deg;
    transition-duration: 0.3s;
}

.dog:hover .ear_0 {
    width: 170px;
    height: 110px;
    border-radius: 50%;
    background-color: #c77f49;


    position: absolute;
    top: 80px;
    left: -20px;

    rotate: -40deg;
    transition-duration: 0.3s;
}
.ear_1 {
    width: 170px;
    height: 110px;
    border-radius: 50%;
    background-color: #c77f49;


    position: absolute;
    top: 80px;
    right: -20px;

    rotate: 50deg;
    transition-duration: 0.3s;
}

.dog:hover .ear_1 {
    width: 170px;
    height: 110px;
    border-radius: 50%;
    background-color: #c77f49;


    position: absolute;
    top: 80px;
    right: -20px;

    rotate: 40deg;
    transition-duration: 0.3s;
}

.ear_edge_0 {
    width: 170px;
    height: 120px;
    border-radius: 50%;
    background-color: #553a28;


    position: absolute;
    top: 75px;
    left: -20px;

    rotate: -50deg;
    scale: 1.2;
    transition-duration: 0.3s;
}
.dog:hover .ear_edge_0 {
    width: 170px;
    height: 120px;
    border-radius: 50%;
    background-color: #553a28;


    position: absolute;
    top: 75px;
    left: -20px;

    rotate: -40deg;
    scale: 1.2;
    transition-duration: 0.3s;
}
.ear_edge_1 {
    width: 170px;
    height: 120px;
    border-radius: 50%;
    background-color: #553a28;


    position: absolute;
    top: 75px;
    right: -20px;

    rotate: 50deg;
    scale: 1.2;
    transition-duration: 0.3s;
}

.dog:hover .ear_edge_1 {
    width: 170px;
    height: 120px;
    border-radius: 50%;
    background-color: #553a28;


    position: absolute;
    top: 75px;
    right: -20px;

    rotate: 40deg;
    scale: 1.2;
    transition-duration: 0.3s;
}

.mouse_0 {
    width: 25px;
    height: 40px;
    border-radius: 0 0 100% 100%;
    border: 15px solid #553a28;
    border-top: none;

    position: absolute;
    top: 170px;
    left: 152.5px;
    transition-duration: 0.3s;
}

.mouse_1 {
    width: 25px;
    height: 40px;
    border-radius: 0 0 100% 100%;
    border: 15px solid #553a28;
    border-top: none;

    position: absolute;
    top: 170px;
    right: 152.5px;
    transition-duration: 0.3s;
}

.mouse_2 {
    width: 120px;
    height: 40px;
    background-color: #fff2d9;
    border-top: none;

    position: absolute;
    top: 155px;
    left: 150px;
    transition-duration: 0.3s;
}

.mouse_3 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #553a28;

    position: absolute;
    top: 187.5px;
    left: 152.5px;
    transition-duration: 0.3s;
}

.mouse_4 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #553a28;

    position: absolute;
    top: 187.5px;
    right: 152.5px;
    transition-duration: 0.3s;
}

.nose_0 {
    width: 30px;
    height: 30px;
    border-radius: 0% 30% 100% 30%;
    background-color: #553a28;
    border-top: none;
    border-left: none;
    border-right: none;

    rotate: -135deg;

    position: absolute;
    top: 170px;
    left: 185px;
    transition-duration: 0.3s;
}

.dog:hover .mouse_0 {
    width: 25px;
    height: 40px;
    border-radius: 0 0 100% 100%;
    border: 15px solid #553a28;
    border-top: none;

    position: absolute;
    top: 165px;
    left: 152.5px;
    transition-duration: 0.3s;
}

.dog:hover .mouse_1 {
    width: 25px;
    height: 40px;
    border-radius: 0 0 100% 100%;
    border: 15px solid #553a28;
    border-top: none;

    position: absolute;
    top: 165px;
    right: 152.5px;
    transition-duration: 0.3s;
}

.dog:hover .mouse_2 {
    width: 120px;
    height: 40px;
    background-color: #fff2d9;
    border-top: none;

    position: absolute;
    top: 150px;
    left: 150px;
    transition-duration: 0.3s;
}

.dog:hover .mouse_3 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #553a28;

    position: absolute;
    top: 182.5px;
    left: 152.5px;
    transition-duration: 0.3s;
}

.dog:hover .mouse_4 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #553a28;

    position: absolute;
    top: 182.5px;
    right: 152.5px;
    transition-duration: 0.3s;
}

.dog:hover .nose_0 {
    width: 30px;
    height: 30px;
    border-radius: 0% 30% 100% 30%;
    background-color: #553a28;
    border-top: none;
    border-left: none;
    border-right: none;

    rotate: -135deg;

    position: absolute;
    top: 165px;
    left: 185px;
    transition-duration: 0.3s;
}

.eye_left_0 {
    width: 25px;
    height: 35px;
    border-radius: 50%;
    background-color: #553a28;
    border-left: none;
    border-right: none;


    position: absolute;
    top: 130px;
    left: 145px;
    
    transition-duration: 0.3s;
}

.eye_right_0 {
    width: 25px;
    height: 35px;
    border-radius: 50%;
    background-color: #553a28;
    border-left: none;
    border-right: none;


    position: absolute;
    top: 130px;
    right: 145px;

    transition-duration: 0.3s;
}

.dog:hover .eye_left_0 {
    width: 40px;
    height: 15px;
    border-radius: 10px;
    background-color: #553a28;
    border-left: none;
    border-right: none;


    position: absolute;
    top: 145px;
    left: 135px;
    rotate: -10deg;

    transition-duration: 0.3s;
}

.dog:hover .eye_right_0 {
    width: 40px;
    height: 15px;
    border-radius: 10px;
    background-color: #553a28;
    border-left: none;
    border-right: none;


    position: absolute;
    top: 145px;
    right: 135px;
    rotate: 10deg;

    transition-duration: 0.3s;
}